<!--
 * @Author: Chen Wenhang
 * @Description: 
 * @Github: https://github.com/chenwenhang
 * @Date: 2019-04-03 23:21:32
 * @LastEditTime: 2019-04-20 22:05:19
 -->
<div class="modal-header">
  <div class="modal-title">查看信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i">
  <sv label="帐号">{{ i.username }}</sv>
  <sv label="昵称">{{ i.nickname }}</sv>
  <sv label="职业">{{ i.occupation }}</sv>
  <sv label="邮箱">{{ i.email }}</sv>
  <sv label="权限">{{ i.power==1?"管理员":(i.power==2?"发布者":"普通用户") }}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
