<div class="container">
  
  <div class="wrap">
    <div class="top">
      <div class="head">
        <!-- <img class="logo" src="./assets/logo-color.svg"> -->
        <span class="title">IT教育课程考评系统</span>
      </div>
      <div class="desc">基于 Ng Alain, NodeJS, MongoDB 的IT教育课程考评系统</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="//github.com/chenwenhang" target="_blank">Echo</a>
    </global-footer>
  </div>
</div>
