<!--
 * @Author: Chen Wenhang
 * @Description: 
 * @Github: https://github.com/chenwenhang
 * @Date: 2019-04-03 23:12:29
 * @LastEditTime: 2019-04-21 16:58:19
 -->
<div class="modal-header">
  <div class="modal-title">查看信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i" [col]="1">
  <sv label="类型">{{ i.type }}</sv>
  <sv label="题干">{{ i.content }}</sv>

  <div *ngIf="i.type=='单选题'||i.type=='多选题'||i.type=='排序题'">
    <sv label="选项 {{index+1}}" *ngFor="let item of i.analysis;let index=index">{{ item }}</sv>
  </div>

  <sv label="答案">{{ i.right }}</sv>
  <sv label="解析">{{ i.explanation }}</sv>
  <sv label="标签">
    <nz-tag [nzColor]="'#87d068'" *ngFor="let item of i.tag">{{item}}</nz-tag>
  </sv>
  <sv label="创建时间">{{ i.create_time }}</sv>

</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
