<!--
 * @Author: Chen Wenhang
 * @Description: 
 * @Github: https://github.com/chenwenhang
 * @Date: 2019-04-19 14:31:52
 * @LastEditTime: 2019-04-22 10:21:28
 -->
<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
  </ng-template>
</page-header>
<nz-card>
  <sf *ngIf="user" #sf mode="edit" button="none" [schema]="schema" [ui]="ui" [formData]="user">
    <div nz-col nzSpan="2"></div>
    <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid"
      [nzLoading]="http.loading">保存信息</button>
  </sf>
</nz-card>
