<!--
 * @Author: Chen Wenhang
 * @Description: 
 * @Github: https://github.com/chenwenhang
 * @Date: 2019-04-17 21:53:54
 * @LastEditTime: 2019-04-23 14:24:02
 -->
<div class="modal-header">
  <div class="modal-title">查看信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>

<div sv-container *ngIf="i" [col]="1">
  <sv-title style="text-align: center;font-size: 20px">{{ i.title }}</sv-title>

  <nz-divider nzText="考卷信息"></nz-divider>

  <sv label="考卷概述">{{ i.instructions }}</sv>
  <sv label="作者">{{ i.create_user }}</sv>
  <sv label="适用职业">{{ i.occupation }}</sv>
  <sv label="总分">{{ i.total_mark }}</sv>
  <sv label="考试开始">{{ i.start_time }}</sv>
  <sv label="考试结束">{{ i.end_time }}</sv>

</div>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
